.container {
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.horses {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.finish-line {
  border: 5px solid red;
  position: fixed;
  right:0px;
  height: 88.3vh;
}
